
body {
    background: url('images/field1CROPPEDblur.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    overflow: auto;
}

.flex-page {
    width: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 0;
}


.navBar {
    display: flex;
    justify-content: space-between;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    margin: 30px 100px;
}


.navBar a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 5px 75px 5px 75px;
    transition: all .35s ease-in-out;
}

.navBar a:hover {
    color: black;
    transition: all .35s ease-in-out;
}

.navBar a:focus {
    outline: 0;
}

.whenwhere {
    display: flex;
    width: 90%;
    margin-top: 200px;
    justify-content: space-between;
    color: white;
}

.whenwhere h2 {
    font-family: 'EB Garamond', serif;
    font-size: 35px;
    font-weight: 100;
}

.whenwhere p {
    font-family: 'EB Garamond', serif;
    font-size: 25px;
}

.left, .right {
    text-align: center;
}

.login-page {
    width: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 0;
}

.login {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    color: white;
    font-size: 35px;
    text-align: center;
    align-items: center;
}

.login input {
    width: 400px;
    height: 40px;
    font-size: 30px;
    text-align: center;
}

.login button {
    color: black;
    font-family: 'EB Garamond', serif;
    font-weight: 100;
    font-size: 30px;
    width: 120px;
    margin: 15px;
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.login button:hover {
    background-color: black;
    color: white;
}

.login h2 {
    font-family: 'EB Garamond', serif;
    font-weight: 100;
}