.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px;
    color: #fff;
    min-height: 0;
}

.col-md-4 {
    width: 300px;
    height: 200px;
    margin: 10px;
}

.col-md-4 img{
    width: 100% !important;
    height: 100% !important;
    margin: 1px;
    filter: grayscale(100%);
    transition: 1s;
}

.col-md-4 img:hover{
    width: 310px;
    filter: grayscale(0);
}
